body {
    background-image: url("assets/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-color: #1e1769;
    margin:0;
}

#container {
    background-color: rgba(224, 245, 246, 0.8);
    width: 30%;
    padding: 20px;
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px black, 0 0 1em black;
    border-radius: 5px;
}

#heading-top {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-align: center;
    text-shadow: 3px 3px 8px #0014FF;
}

h3 {
    font-family: 'Encode Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 4px #ab24dc;
}

#guess {
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 5px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: #0014FF;   
}

#btn {
    font-family: 'Encode Sans', sans-serif;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 25px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 6em;
    height: 1.7em;
    text-align: center;
    background: linear-gradient(90deg, #0014FF, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 5px;
    z-index: 1;
    margin: 10px 0px 20px;
}

#btn:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

#btn:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #0014FF, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 5px;
    transition: 1s;
}

#btn:hover::before {
    filter: blur(20px);
}

#btn:active {
    background: linear-gradient(32deg, #0014FF, #f441a5, #ffeb3b, #03a9f4);
}

@media all and (max-width: 540px) {
    body {
        display: grid;
        place-items: center;
    }

    #container {
        width: 80%;
        margin-top: 0px;
        margin-left: 0px;
    }

    #heading-top, h3, #btn {
        font-size: 20px;
    }

    #guess {
        font-size: 25px;
    }
}